<template>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2>Add drivers</h2>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="base_driver">Base driver</label>
                        <input type="text" id="base_driver" class="form-control" v-model="base_driver" placeholder="Type to search for drivers..." @keyup="filterDrivers" autocomplete="false">

                        <div class="filtered-items" v-if="filteredDrivers.length && showDropdown">
                            <ul class="items-container">
                                <li class="item cursor-pointer" v-for="filteredDriver in this.filteredDrivers" v-bind:key="filteredDriver.id" @click="setDriver(filteredDriver)">{{ filteredDriver.full_name }}</li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="number">Number</label>
                        <input type="number" id="number" class="form-control" v-model="number">
                    </div>

                    <button type="button" class="btn btn-short btn-secondary" @click="saveDriver">Add driver</button>
                </form>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Driver</th>
                <th>Number</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(selectedDriver, key) in this.selectedDrivers" v-bind:key="selectedDriver.id">
                <td>{{ selectedDriver.full_name }}</td>
                <td>{{ selectedDriver.number }}</td>
                <td class="cursor-pointer" @click="deleteDriver(key)">Delete</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    props: ['season'],
    name: 'DriverSelectComponent',
    data() {
        return {
            base_driver: '',
            number: '',
            selected_driver: '',
            drivers: [],
            filteredDrivers: [],
            selectedDrivers: [],
            showDropdown: false
        }
    },
    methods: {
        filterDrivers() {
            this.showDropdown = true;

            if (this.base_driver !== "") {
                this.filteredDrivers = this.drivers.filter(driver => {
                    // Does this driver's full name include the searched for string?
                    const nameMatches = driver.full_name.toLowerCase().includes(this.base_driver.toLowerCase());

                    // Has this driver already been selected?
                    const alreadyTaken = this.selectedDrivers.some(d => {
                        return d.id === driver.id;
                    });
                    return nameMatches && !alreadyTaken;
                });
            } else {
                this.filteredDrivers = [];
                this.showDropdown = false;
            }
        },
        setDriver(driver) {
            this.selected_driver = driver;
            this.base_driver = driver.full_name;
            this.showDropdown = false;
        },
        saveDriver() {
            const numberTaken = this.selectedDrivers.some(driver => {
                return driver.number === this.number;
            });

            if (this.selected_driver !== '' && this.number !== '' && !numberTaken) {
                this.selectedDrivers.push({
                    id: this.selected_driver.id,
                    full_name: this.selected_driver.full_name,
                    number: this.number
                });

                this.base_driver = '';
                this.selected_driver = '';
                this.number = '';
            }
        },
        deleteDriver(index) {
        	const driver = this.selectedDrivers[index];
            this.selectedDrivers.splice(index, 1);
            this.drivers.push(driver);
        },
		valid() {
        	return true;
		},
		getDriverSettings() {
        	return this.selectedDrivers;
		},
		setDriverDetails(drivers) {
        	this.selectedDrivers = drivers;
		}
    },
    mounted() {
        axios.get(this.route('drivers.all', [this.season.series.universe.id, this.season.id]))
            .then(response => {
                this.drivers = response.data;
            })
            .catch(error => {
                console.log(error);
            });
    }
}
</script>
