<template>
    <div class="card col-4">
        <div class="card-header">
            <h2>Add engine</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="base_engine">Base engine</label>
                    <input type="text" id="base_engine" class="form-control" v-model="base_engine" placeholder="Type to search for engines..." @keyup="filterEngines" autocomplete="off">

                    <div class="filtered-items" v-if="filteredEngines.length && showDropdown">
                        <ul class="items-container">
                            <li class="item cursor-pointer" v-for="filteredEngine in this.filteredEngines" v-bind:key="filteredEngine.id" @click="setEngine(filteredEngine)">{{ filteredEngine.name }}</li>
                        </ul>
                    </div>
                </div>

				<div class="form-group">
					<label for="rebadge">
						<input type="checkbox" id="rebadge" v-model="rebadge">
						Rebadge engine?
					</label>
				</div>

				<div class="form-group">
					<label for="rebadged_name">Rebadged name</label>
					<input type="text" id="rebadged_name" v-model="rebadged_name" class="form-control" :disabled="!rebadge" placeholder="Rebadged engine name">
				</div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    props: ['season'],
    name: "EngineSelectComponent",
    data() {
        return {
            showDropdown: false,
            engines: [],
            filteredEngines: [],
            base_engine: '',
            selected_engine: '',
			rebadge: false,
			rebadged_name: '',
        }
    },
    methods: {
        filterEngines() {
            this.showDropdown = true;

            this.filteredEngines = this.engines.filter(engine => {
                return engine.name.toLowerCase().includes(this.base_engine.toLowerCase());
            });
        },
        setEngine(engine) {
            this.selected_engine = engine;
            this.base_engine = engine.name;
            this.showDropdown = false;
        },
		getEngineSettings() {
        	return {
        		engine: this.selected_engine,
				rebadge: this.rebadge,
				name: this.rebadge ? this.rebadged_name : this.selected_engine.name
			}
		},
		setEngineDetails(engine) {
        	if (engine) {
				this.selected_engine = engine.engine;
				this.base_engine = engine.engine.name;
				this.rebadge = engine.rebadge;

				if (this.rebadge) {
					this.rebadged_name = engine.name;
				}
			}
		}
    },
    mounted() {
        axios.get(this.route('engines.all', [this.season.series.id]))
            .then(response => {
                this.engines = response.data;
            })
            .catch(error => {
                console.log(error);
            });
    }
}
</script>
