<template>
	<div>
		<table class="table">
			<thead>
			<tr>
				<th>Name</th>
				<th>Principal</th>
				<th>Engine</th>
				<th>Drivers</th>
				<th>#</th>
				<th></th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr v-for="(team, index) in this.teams" v-bind:key="team.id">
				<td class="team-card-wrapper">
					<div class="team-card" :style="team.styleString">
						{{ team.name }}
					</div>
				</td>
				<td>{{ team.team_principal }}</td>
				<td><span v-if="team.engine">{{ team.engine.engine_name }}</span></td>
				<td>
					<span v-for="driver in team.drivers" class="driver-item">
						{{ driver.driver.full_name }}
					</span>
				</td>
				<td>
					<span v-for="driver in team.drivers" class="driver-item">
						{{ driver.number }}
					</span>
				</td>
				<td>
					<a v-if="canEdit && !season.started" :href="route('seasons.lineups.edit', [
						season.series.universe.slug,
						season.series.slug,
						season.year,
						team.id
					])">Edit</a>
				</td>
				<td>
					<a v-if="canEdit && !season.started" class="cursor-pointer" @click="deleteLineup(team.id, index)">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</template>

<script>
export default {
	props: ['season', 'teams', 'canEdit'],
	name: "LineupOverviewComponent",
	methods: {
		deleteLineup(lineupId, index) {
			const route = this.route('lineups.delete', [
				this.season.series.universe.slug,
				this.season.series.slug,
				this.season.year,
				lineupId
			]);

			axios.request({
				url: route,
				method: 'DELETE',
				headers: {
					'X-CSRF-TOKEN': this.$store.state.csrf
				}
			})
				.then(res => {
					if (res.data.success) {
						this.teams.splice(index, 1);
					} else {
						// TODO error
						console.log(res.data);
					}
				})
		}
	}
}
</script>

<style>
.driver-item {
	display: block;
	padding: 5px 0;
}
</style>
