<template>
    <div>
        <div class="form-group">
            <label for="name">Team name</label>
            <input type="text" id="name" name="name" v-model="name" class="form-control" placeholder="Team name" required>
        </div>

        <div class="form-group">
            <label for="team_principal">Team principal</label>
            <input type="text" id="team_principal" v-model="team_principal" name="team_principal" class="form-control" placeholder="Team principal" required>
        </div>

        <div class="form-group flex-group">
            <div class="fc-3">
                <label for="background_colour">Background</label>
                <input type="color" v-model="background_colour" id="background_colour" name="background_colour">
            </div>
            <div class="fc-3">
                <label for="text_colour">Text</label>
                <input type="color" v-model="text_colour" id="text_colour" name="text_colour">
            </div>
            <div class="fc-3">
                <label for="border_colour">Border</label>
                <input v-if="border_is_background" type="color" v-model="background_colour" id="border_colour" name="border_colour">
                <input v-if="!border_is_background" type="color" v-model="border_colour" id="border_colour" name="border_colour">
            </div>
        </div>

        <div class="form-group">
            <label for="border_is_background">Border same as background?
                <input type="checkbox" id="border_is_background" v-model="border_is_background">
            </label>
        </div>

        <p>Example</p>

        <div :style="teamCardStyle">
            {{name}}
        </div>
    </div>
</template>

<script>
export default {
    name: 'TeamSettingsComponent',
    props: ['team'],
    data() {
        return {
            name: this.team ? this.team.name : '',
            team_principal: this.team ? this.team.team_principal : '',
            background_colour: this.team ? this.team.background_colour : '#000000',
            text_colour: this.team ? this.team.text_colour : '#FFFFFF',
            border_colour: this.team ? this.team.border_colour : '#000000',
            border_is_background: this.team ? this.team.background_colour === this.team.border_colour : false,
        }
    },
	methods: {
    	getTeamSettings() {
			const border = this.border_is_background ? this.background_colour : this.border_colour;
			return {
    			name: this.name,
				team_principal: this.team_principal,
				background_colour: this.background_colour,
				text_colour: this.text_colour,
				border_colour: border
			}
		}
	},
    computed: {
        teamCardStyle() {
            const borderColour = this.border_is_background ? this.background_colour : this.border_colour;
            const border = `2px solid ${borderColour}`;
            return {
                "box-sizing": "border-box",
                "background-color": this.background_colour,
                "color": this.text_colour,
                "border-radius": "5px",
                "border": border,
                "margin-bottom": "30px",
                "height": "60px",
                "line-height": "60px",
                "vertical-align": "middle",
                "text-align": "center",
                "font-weight": "bold"
            }
        }
    },
    watch: {
        team() {
            this.name = this.team.name;
            this.team_principal = this.team.team_principal;
            this.background_colour = this.team.background_colour;
            this.text_colour = this.team.text_colour;
            this.border_colour = this.team.border_colour;
            this.border_is_background = this.background_colour === this.border_colour;
        }
    }
}
</script>
