<template>
    <div class="card col-4">
        <div class="card-header">
            <h2>Add team</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="base_team">Base team</label>
                    <input type="text" id="base_team" class="form-control" v-model="base_team" placeholder="Type to search for teams..." @keyup="filterTeams" autocomplete="off">

                    <div class="filtered-items" v-if="filteredTeams.length && showDropdown">
                        <ul class="items-container">
                            <li class="item cursor-pointer" v-for="filteredTeam in this.filteredTeams" v-bind:key="filteredTeam.id" @click="setTeam(filteredTeam)">{{ filteredTeam.name }}</li>
                        </ul>
                    </div>
                </div>

                <TeamSettingsComponent v-bind:team="this.selected_team" ref="teamSettings"></TeamSettingsComponent>
            </form>
        </div>
    </div>
</template>

<script>
import TeamSettingsComponent from "./TeamSettingsComponent";

export default {
    props: ['season'],
    name: "TeamSelectComponent",
    data() {
        return {
            base_team: '',
            selected_team: '',
            teams: [],
            filteredTeams: [],
            showDropdown: false
        }
    },
    components: {
        TeamSettingsComponent
    },
    methods: {
        filterTeams() {
            this.showDropdown = true;
            if (this.base_team !== "") {
                this.filteredTeams = this.teams.filter(team => {
                    return team.name.toLowerCase().includes(this.base_team.toLowerCase());
                });
            } else {
                this.filteredTeams = [];
                this.showDropdown = false;
            }
        },
        setTeam(team) {
            this.selected_team = team;
            this.base_team = team.name;
            this.showDropdown = false;
            // this.$refs.teamSettings.name;
        },
		valid() {
        	return true;
		},
		setTeamDetails(teamDetails, baseTeam) {
        	this.selected_team = teamDetails;
        	this.selected_team.id = baseTeam;
        	this.base_team = teamDetails.name;
		}
    },
    mounted() {
        axios.get(this.route('teams.all', [this.season.series.id]))
            .then(response => {
                this.teams = response.data;
            })
            .catch(error => {
                console.log(error);
            });
    }
}
</script>
