// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-open-sans: 'Open Sans', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3575D3;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #F41F0E;
$dark-red: #BF1103;
$orange: #F47F0E;
$orange-light: #FC9D42;
$yellow: #ffed4a;
$green: #025F2B;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #24252a;
$dark-accent: #393A3F;
$light: #D5D8D8;

$primary: $blue;
$primary-accent: $cyan;
$secondary: $orange;
$secondary-accent: $orange-light;
$danger: $red;
$danger-accent: $dark-red;
$success: $green;
$success-accent: $green;

$dropdown-border: 2px solid $dark;
