// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

// Variables
@import 'variables';
@import 'mixins';
@import 'grid';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

body {
    font-family: $font-family-montserrat;
    background-color: $dark;
    color: $light;
}

li,
a,
button {
    font-weight: bold;
    font-size: 16px;
    color: $light;
    text-decoration: none;
}

ol {
    li {
        padding: 5px 0;
    }
}

.mb-3 {
    margin-bottom: 3rem;
}

.btn {
    @include border-radius;
    padding: 12px 10px;
    outline: 0;
    background-color: $light;
    color: $dark;
    font-weight: bold;
    border: 0;
    transition: background-color 0.3s ease;

    &:hover {
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }
}

.btn-small {
    padding: 7px;
}

.btn-primary {
    background-color: $primary;
    color: $dark;

    &:hover {
        background-color: $primary-accent;
        color: $dark;
    }
}

.btn-secondary {
    background-color: $secondary;
    color: $dark;

    &:hover {
        background-color: $secondary-accent;
        color: $dark;
    }
}

.btn-success {
    background-color: $success;
    color: white;

    &:hover {
        background-color: $success-accent;
        color: white;
    }
}

.btn-danger {
    background-color: $danger;
    color: white;

    &:hover {
        background-color: $danger-accent;
        color: white;
    }
}

.btn-short {
    width: 20%!important;
}

.alert {
    box-sizing: border-box;
    width: 70%;
    margin: 20px auto;
    background-color: $dark-accent;
    text-align: center;
    padding: 10px 30px;
    border-radius: 5px;
}

.alert-small {
    width: 40%;
}

.alert-left {
    text-align: left;
}

.alert-info {
    background-color: $green;
}

.alert-danger {
    background-color: $danger-accent;
}

.color-danger {
    color: $danger;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 10%;

    .cta {
        margin-left: auto;
    }

    .logo {
        font-size: 28px;
        font-weight: bold;
        margin-right: auto;
    }

    ul {
        list-style: none;

        li {
            display: inline-block;
            padding: 0 20px;

            &:first-child {
                padding: 0 20px 0 0;
            }
        }
    }
}

a {
    transition: all 0.3s ease 0s;

    &:hover {
        color: $secondary;
    }
}

form {
    label {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    .form-control {
        font-family: $font-family-montserrat;
        box-sizing: border-box;
        border: 1px solid $dark;
        padding: 15px 10px;
        border-radius: 5px;
        width: 100%;
        background-color: $dark;
        color: $light;
        font-size: 16px;

        &:focus {
            outline: 0;
        }

        &:disabled {
            color: $dark-accent;
            cursor: not-allowed;
        }
    }

    .flex-group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fc3 {
            width: 30%;
        }

        .fc4 {
            width: 23%;
        }

        .fc5 {
            width: 18%;
        }
    }
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 40px auto;
    width: 100%;
    border: 1px solid $dark-accent;
    border-radius: 5px;

    thead {
        background-color: $dark-accent;
    }

    th,
    td {
        text-align: left;
        height: 60px;
        padding-left: 20px;
    }

    tbody {
        tr {
            border-bottom: 1px solid $dark-accent;
        }
    }
}

.form-group {
    margin: 20px 0;
}

.page-content {
    width: 60%;
}

.card {
    @include border-radius;
    box-sizing: border-box;
    width: 500px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: $dark-accent;

    form .btn {
        width: 100%;
    }

    .card-body {
        padding-bottom: 10px;
    }
}

.card-wide {
    max-width: 1024px;
    width: 70%;
}

.label {
    padding: 7px 20px;
    border-radius: 5px;
}

.items {
    display: flex;
    flex-wrap: wrap;

    .item-card {
        @include border-radius(15px);
        box-sizing: border-box;
        flex: 1 0 21%;
        margin: 20px;
        padding: 20px;
        height: 300px;
        background-color: $dark-accent;
        position: relative;

        .item-card-footer {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 0 20px 30px 0;

            a:last-child {
                margin-left: 10px;
            }
        }
    }
}

.team-card-wrapper {
    box-sizing: border-box;
    padding: 5px;

    .team-card {
        min-width: 400px;
        max-width: 600px;
        box-sizing: border-box;
        border-radius: 5px;
        height: 60px;
        line-height: 60px;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
    }
}

.tab-menu {
    display: flex;
    list-style-type: none;
    padding-left: 0;

    .tab-menu-item {
        box-sizing: border-box;
        justify-content: start;
        padding: 5px;

        a {
            padding: 10px;

            &.active {
                border-bottom: 2px solid $secondary;
            }
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}

.form-row {
    display: flex;
    justify-content: space-between;

    .form-group {
        width: 48%;
    }
}

.filtered-items {
    display: flex;
    justify-content: center;

    .items-container {
        padding: 0;
        list-style-type: none;
        position: absolute;
        width: 100%;
        max-width: 400px;
        text-align: center;
        margin: 0;
        background-color: $dark-accent;
        border-left: $dropdown-border;
        border-right: $dropdown-border;
        border-bottom: $dropdown-border;

        .item {
            border-bottom: $dropdown-border;
            padding: 20px;
        }
    }
}
