@import "variables";

#breadcrumbs {
    ul {
        border-radius: 5px;
        margin: 30px 0;
        padding: 10px;
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    li {
        display: flex;
        align-items: center;

        &+li:before {
            color: $light;
            content: "\0002f";
        }

        &:first-child {
            padding-left: 0;
        }
    }

    a {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary;
        padding: 0 .75em;
    }

    .active {
        a {
            font-weight: normal;
            color: $light;
            cursor: default;
            pointer-events: none;
        }
    }
}
