<template>
    <div>
        <form>
            <div class="form-group">
                <label for="positions_to_add">Positions to add</label>
                <input type="number" id="positions_to_add" name="positions_to_add" class="form-control" v-model="positionsToAdd">
            </div>

            <button type="button" class="btn btn-secondary btn-short" @click="addPosition">Add position</button>

            <table class="table">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Points</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(point, index) in this.points" v-bind:key="index">
                        <td>{{ point.pos }}</td>
                        <td><form><input type="number" v-model="point.points" class="form-control"></form></td>
                        <td class="cursor-pointer" @click="deletePoints(index)">
                            delete
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <label for="pole_points">Pole points</label>
                <input type="number" id="pole_points" name="pole_points" v-model="polePoints" class="form-control">
            </div>

            <div class="form-group">
                <label for="fastest_lap_points">Fastest lap points</label>
                <input type="number" id="fastest_lap_points" name="fastest_lap_points" v-model="fastestLapPoints" class="form-control">
            </div>

            <button type="button" class="btn btn-secondary btn-short" @click="savePoints">Save points</button>
        </form>
    </div>
</template>

<script>
export default {
    props: ['season'],
    data() {
        return {
            points: this.season.point_system ? JSON.parse(this.season.point_system.points) : [],
            positionsToAdd: 1,
            polePoints: this.season.point_system ? this.season.point_system.pole_points : 0,
            fastestLapPoints: this.season.point_system ? this.season.point_system.fastest_lap_points : 0,
        }
    },
    methods: {
        getSeries() {
            return this.season.series
        },
        getUniverse() {
            return this.getSeries().universe;
        },
        getPostUrl() {
            return this.route('seasons.points.store', [
                this.getUniverse().slug,
                this.getSeries().slug,
                this.season.year
            ]);
        },
        getRedirectUrl() {
            return this.route('seasons.show', [
                this.getUniverse().slug,
                this.getSeries().slug,
                this.season.year,
                'settings'
            ]);
        },
        deletePoints(index) {
            this.points.splice(index, 1);

            this.points.forEach((points, index) => {
                points.pos = index + 1;
            });
        },
        addPosition() {
            const lastPoints = this.points[this.points.length - 1];
            let lastPosition = 0;

            if (lastPoints) {
                lastPosition = lastPoints.pos;
            }

            for (let i = 1; i <= this.positionsToAdd; i++) {
                const pos = lastPosition + i;

                this.points.push({
                    pos: pos,
                    points: 0
                });
            }
        },
        savePoints() {
            if (this.points.length > 0) {
                const data = {
                    points: this.points,
                    polePoints: this.polePoints,
                    fastestLapPoints: this.fastestLapPoints
                };

                axios.request({
                    url: this.getPostUrl(),
                    method: 'POST',
                    data: data,
                    headers: {
                        'X-CSRF-TOKEN': this.$store.state.csrf
                    }
                })
                    .then((res) => {
                        if (res.data.success) {
                            window.location.href = this.getRedirectUrl();
                        } else {
                            // TODO errors
                        }
                    });
            }
        }
    }
}
</script>

<style>
.btn-short {
    width: 30%!important;
}
</style>
