<template>
	<div class="card">
		<div class="card-header">
			<h2>Qualifying settings</h2>
		</div>
		<div class="card-body">
			<form>
				<div class="form-group">
					<label for="type">Qualifying type (WIP)</label>
					<select id="type" v-model="type" class="form-control" disabled>
						<option v-for="(type, index) in availableTypes" v-bind:key="index" :value="type.value">
							{{ type.name }}
						</option>
					</select>
				</div>
				
				<div v-if="this.type === 'elimination'">
					<div class="form-group">
						<label for="sessions">Sessions</label>
						<input type="number" id="sessions" v-model="settings.elimination.sessions" class="form-control" required>
					</div>

					<div class="form-group">
						<label for="session_runs">Runs per session</label>
						<input type="number" id="session_runs" v-model="settings.elimination.session_runs" class="form-control" required>
					</div>

					<div class="form-group">
						<label for="session_eliminations">Eliminations per session</label>
						<input type="number" id="session_eliminations" v-model="settings.elimination.session_eliminations" class="form-control" required>
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="min_rng">Minimum RNG</label>
							<input type="number" id="min_rng" v-model="settings.elimination.min_rng" class="form-control" required>
						</div>

						<div class="form-group col-md-6">
							<label for="max_rng">Maximum RNG</label>
							<input type="number" id="max_rng" v-model="settings.elimination.max_rng" class="form-control" required>
						</div>
					</div>
				</div>

				<button type="button" class="btn btn-short btn-secondary" @click="save">Save</button>
			</form>
		</div>
	</div>
</template>

<script>
export default {
	props: ['season'],
	data() {
		return {
			availableTypes: [
				{value: 'elimination', name: 'Elimination'},
				// {value: 'single_session', name: 'Single Session'}
			],
			settings: {
				elimination: {
					sessions: 1,
					session_runs: 2,
					session_eliminations: 5,
					min_rng: 0,
					max_rng: 0
				},
				single_session: {
					session_runs: 4,
					min_rng: 0,
					max_rng: 0
				}
			},
			type: 'elimination',

		}
	},
	methods: {
		save() {
			const data = {
				type: this.type,
				settings: this.settings[this.type]
			};

			const route = this.route('seasons.qualifying', [
				this.season.series.universe.slug,
				this.season.series.slug,
				this.season.year
			]);

			axios.request({
				url: route,
				method: 'POST',
				data: data,
				headers: {
					'X-CSRF-TOKEN': this.$store.state.csrf
				}
			})
				.then(res => {
					if (res.data.success) {
						window.location.href = this.route('seasons.show', [
							this.season.series.universe.slug,
							this.season.series.slug,
							this.season.year,
							'settings'
						]);
					} else {
						// TODO error
					}
				})
				.catch(error => console.log(error));
		}
	},
	mounted() {
		const settings = this.season.qualifying_settings;
		if (settings) {
			this.type = settings.type;
			this.settings[this.type] = JSON.parse(settings.settings);
		}
	}
}
</script>
