<template>
    <div>
        <form action="#" method="POST">
            <input type="hidden" name="_token" :value="csrf">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" v-model="name" class="form-control" placeholder="Name" required>
            </div>

            <div class="form-group">
                <label for="circuit">Circuit</label>
                <input type="text" name="circuit" id="circuit" v-model="circuit" class="form-control" placeholder="Circuit" required>
            </div>

            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" name="country" id="country" v-model="country" class="form-control" placeholder="Country (optional)">
            </div>

            <h3>Stints</h3>

            <button type="button" class="btn btn-secondary btn-short" @click="addStint">Add stint</button>

            <table class="table stints-table">
                <thead>
                <tr>
                    <th>Min RNG</th>
                    <th>Max RNG</th>
                    <th>Start bonus</th>
                    <th>Team rating</th>
                    <th>Driver rating</th>
                    <th>Engine rating</th>
                    <th>Reliability</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(stint, index) in this.stints" v-bind:key="stint.id">
                    <td><input type="number" class="form-control" v-model="stint.min"></td>
                    <td><input type="number" class="form-control" v-model="stint.max"></td>
                    <td><input type="checkbox" v-model="stint.start"></td>
                    <td><input type="checkbox" v-model="stint.team"></td>
                    <td><input type="checkbox" v-model="stint.driver"></td>
                    <td><input type="checkbox" v-model="stint.engine"></td>
                    <td><input type="checkbox" v-model="stint.reliability"></td>
                    <td v-if="canEdit" class="delete-stint-button" @click="deleteStint(index)">delete</td>
                </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-secondary btn-short" @click="saveRace">Save</button>
        </form>
    </div>
</template>

<script>
export default {
    props: ['season', 'race', 'canEdit'],
    data() {
        return {
            name: this.race ? this.race.name : '',
            circuit: this.race ? this.race.circuit : '',
            country: this.race ? this.race.country : '',
            stints: this.race ? JSON.parse(this.race.stints) : [],
        }
    },
    methods: {
        getSeason() {
            return this.season ? this.season : this.race.season;
        },
        getSeries() {
            return this.getSeason().series;
        },
        getUniverse() {
            return this.getSeries().universe;
        },
        addStint() {
            this.stints.push({
                min: 0,
                max: 0,
                start: false,
                team: false,
                driver: false,
                engine: false,
                reliability: false
            });
        },
        deleteStint(index) {
            this.stints.splice(index, 1);
        },
        getPostUrl() {
            if (this.race) {
                return this.route('races.update', [
                    this.getUniverse().slug,
                    this.getSeries().slug,
                    this.season.year,
                    this.race.id
                ]);
            } else {
                return this.route('races.store', [
                    this.getUniverse().slug,
                    this.getSeries().slug,
                    this.getSeason().year
                ]);
            }
        },
        getRedirectUrl() {
            return this.route('seasons.show', [
                this.getUniverse().slug,
                this.getSeries().slug,
                this.getSeason().year
            ]);
        },
        saveRace() {
            this.stints.forEach((stint) => {
                if (stint.min === stint.max || !this.name || !this.circuit) {
                    // TODO error
                    return false;
                }
            });

            const url = this.getPostUrl();
            const method = this.race ? 'PATCH' : 'POST';

            const data = {
                name: this.name,
                circuit: this.circuit,
                country: this.country,
                stints: this.stints
            }

            axios.request({
                url: url,
                method: method,
                data: data,
                headers: {
                    'X-CSRF-TOKEN': this.$store.state.csrf
                }
            })
                .then(res => {
                    if (res.data.success) {
                        window.location.href = this.getRedirectUrl();
                    }
                });
        }
    }
}
</script>

<style>
.stints-table .form-control {
    max-width: 100px;
}

.delete-stint-button:hover {
    cursor: pointer;
}
</style>
