<template>
    <div>
        <p>This page only configures the reliability rolls during stints. The actual team/driver/engine reliability
        (when applicable) has to be set when setting up teams, drivers, engines, etc.</p>
        <form action="">
            <label for="use_team_reliability">
                <input type="checkbox" id="use_team_reliability" v-model="types.team.use">
                Use team reliability
            </label>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="min_team">Min team roll</label>
                    <input type="number" id="min_team" v-model="types.team.min" class="form-control" :disabled="!this.types.team.use">
                </div>

                <div class="form-group col-md-6">
                    <label for="max_team">Max team roll</label>
                    <input type="number" id="max_team" v-model="types.team.max" class="form-control" :disabled="!this.types.team.use">
                </div>
            </div>

            <label for="use_driver_reliability">
                <input type="checkbox" id="use_driver_reliability" v-model="types.driver.use">
                Use driver reliability
            </label>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="min_driver">Min driver roll</label>
                    <input type="number" id="min_driver" v-model="types.driver.min" class="form-control" :disabled="!this.types.driver.use">
                </div>

                <div class="form-group col-md-6">
                    <label for="max_driver">Max driver roll</label>
                    <input type="number" id="max_driver" v-model="types.driver.max" class="form-control" :disabled="!this.types.driver.use">
                </div>
            </div>

            <label for="use_engine_reliability">
                <input type="checkbox" id="use_engine_reliability" v-model="types.engine.use">
                Use engine reliability
            </label>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="min_engine">Min engine roll</label>
                    <input type="number" id="min_engine" v-model="types.engine.min" class="form-control" :disabled="!this.types.engine.use">
                </div>

                <div class="form-group col-md-6">
                    <label for="max_engine">Max engine roll</label>
                    <input type="number" id="max_engine" v-model="types.engine.max" class="form-control" :disabled="!this.types.engine.use">
                </div>
            </div>

            <button type="button" class="btn btn-secondary btn-short" @click="save">Save</button>
        </form>
    </div>
</template>

<script>
export default {
    props: ['season'],
    data() {
        return {
            types: {
                team: {
                    use: false,
                    min: 0,
                    max: 0
                },
                driver: {
                    use: false,
                    min: 0,
                    max: 0
                },
                engine: {
                    use: false,
                    min: 0,
                    max: 0
                }
            }
        }
    },
    mounted() {
        if (this.season.reliability) {
            this.types = JSON.parse(this.season.reliability.settings);
        }
    },
    methods: {
        save() {
            // for each reliability type, check whether it's used and sensible values have been selected (min can't be equal
            // to max for example, min must be lower than max, ...)
            let valid = true;

            for (let type of Object.values(this.types)) {
                if (type.use) {
                    if (type.min === type.max || type.min > type.max) {
                        valid = false;
                    }
                }
            }

            if (!valid) {
                // TODO error
                return;
            }

            const data = {
                types: this.types
            };

            axios.request({
                url: this.route('seasons.reliability', [
                    this.season.series.universe.slug,
                    this.season.series.slug,
                    this.season.year
                ]),
                method: 'POST',
                data: data,
                headers: {
                    'X-CSRF-TOKEN': this.$store.state.csrf
                }
            })
                .then((res) => {
                    if (res.data.success) {
                        window.location.href = this.route('seasons.show', [
                            this.season.series.universe.slug,
                            this.season.series.slug,
                            this.season.year,
                            'settings'
                        ]);
                    }
                });
        }
    }
}
</script>
