<template>
	<div>
		<button type="button" class="btn btn-secondary align-content-center" @click="saveLineup" :disabled="submitting">Save lineup</button>

		<div class="row">
			<DriverSelectComponent :season="this.season" ref="driverSelection"></DriverSelectComponent>

			<TeamSelectComponent :season="this.season" ref="teamSelection"></TeamSelectComponent>

			<EngineSelectComponent :season="this.season" ref="engineSelection"></EngineSelectComponent>
		</div>
	</div>
</template>

<script>
import TeamSelectComponent from "./includes/TeamSelectComponent";
import DriverSelectComponent from "./includes/DriverSelectComponent";
import EngineSelectComponent from "./includes/EngineSelectComponent";

export default {
    props: ['season', 'lineup'],
	data() {
    	return {
    		submitting: false
		}
	},
    components: {
        TeamSelectComponent,
        DriverSelectComponent,
        EngineSelectComponent
    },
    methods: {
        saveLineup() {
        	this.submitting = true;
            const teamSelection = this.$refs.teamSelection;
            const teamSettings = teamSelection.$refs.teamSettings;
            const driverSelection = this.$refs.driverSelection;
            const engineSelection = this.$refs.engineSelection;

            if (!teamSelection.valid() || !driverSelection.valid()) {
            	this.submitting = false;
            	return;
			}

            const baseTeam = teamSelection.selected_team.id;
			const teamDetails = teamSettings.getTeamSettings();
			const driverDetails = driverSelection.getDriverSettings();
			const engineDetails = engineSelection.getEngineSettings();

			const data = {
				base_team: baseTeam,
				team_details: teamDetails,
				drivers: driverDetails,
				engine: engineDetails
			};

			if (this.lineup) {
				data.lineup_id = this.lineup;
			}

			const route = this.lineup ? 'lineups.update' : 'lineups.store';
			const method = this.lineup ? 'PATCH' : 'POST';

			axios.request({
				url: this.route(route, [this.season.id]),
				method: method,
				data: data,
				headers: {
					'X-CSRF-TOKEN': this.$store.state.csrf
				}
			})
				.then(response => {
					if (response.data.success) {
						window.location.href = this.route('seasons.show', [
							this.season.series.universe.slug,
							this.season.series.slug,
							this.season.year,
							'lineups'
						]);
					} else {
						// TODO error
					}
				})
				.catch(error => {
					this.submitting = false;
					console.log(error);
				});
        }
    },
    mounted() {
        // Close search dropdowns when escape is pressed
        document.addEventListener('keyup', (e) => {
            if (e.key === 'Escape') {
                this.$refs.teamSelection.showDropdown = false;
                this.$refs.driverSelection.showDropdown = false;
                this.$refs.engineSelection.showDropdown = false;
            }
        });

        if (this.lineup) {
			axios.get(this.route('lineups.find', [this.lineup]))
				.then(res => {
					const data = res.data;
					this.$refs.teamSelection.setTeamDetails(data.team_details, data.base_team);
					this.$refs.driverSelection.setDriverDetails(data.drivers);
					this.$refs.engineSelection.setEngineDetails(data.engine);
				});
		}
    }
}
</script>
