<template>
    <div>
        <form :action="getFormUrl()" method="POST">
            <input type="hidden" name="_token" :value="this.$store.state.csrf">
            <input type="hidden" name="_method" value="PATCH" v-if="this.season">
            <div class="form-group">
                <label for="year">Year</label>
                <input type="number" id="year" name="year" v-model="year" class="form-control" placeholder="Year" required>
            </div>

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" v-model="name" class="form-control" placeholder="Name (optional)">
            </div>

            <button type="submit" class="btn btn-secondary">Save</button>
        </form>
    </div>
</template>

<script>
export default {
    props: ['series', 'season'],
    data () {
        return {
            universe: this.getSeries().universe,
            year: this.season ? this.season.year : '',
            name: this.season ? this.season.name : '',
        }
    },
    methods: {
        getFormUrl() {
            if (this.season) {
                return this.route('seasons.update', [this.universe.slug, this.getSeries().slug, this.season.year]);
            } else {
                return this.route('seasons.store', [this.universe.slug, this.getSeries().slug]);
            }
        },
        getSeries() {
            return this.series ? this.series : this.season.series;
        }
    }
}
</script>
