<template>
    <div>
        <div class="tab-menu">
            <li class="tab-menu-item"><a href="#races" @click.prevent="setActive('races')" :class="isActive('races') ? 'active' : ''">Races</a></li>
            <li class="tab-menu-item"><a href="#lineups" @click.prevent="setActive('lineups')" :class="isActive('lineups') ? 'active' : ''">Lineups</a></li>
            <li class="tab-menu-item"><a href="#settings" @click.prevent="setActive('settings')" :class="isActive('settings') ? 'active' : ''">Settings</a></li>
        </div>

        <div id="races" v-if="isActive('races')">
            <h2>Races</h2>

            <a v-if="canEdit && !this.season.started" :href="route('races.create', [this.universe.slug, this.series.slug, this.season.year])" class="btn btn-secondary">Add race</a>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Circuit</th>
                    <th>Winning driver</th>
                    <th>Winning team</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(race, index) in this.races" v-bind:key="race.id">
                    <th>{{ race.id }}</th>
                    <th>{{ race.name }}</th>
                    <th>{{ race.circuit }}</th>
                    <th>{{ race.winning_driver }}</th>
                    <th>{{ race.winning_team }}</th>
                    <th>
                        <a v-if="canEdit && canEditCalendar" :href="route('races.edit', [
                            universe.slug, series.slug, season.year, race.id
                        ])">Edit</a>
                    </th>
                    <th>
                        <a v-if="canEdit && canEditCalendar" href="#" @click="deleteRace($event, index, race)">
                            Delete
                        </a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="lineups" v-if="isActive('lineups')">
            <h2>Lineups</h2>

            <a v-if="canEdit && !this.season.started" :href="route('seasons.lineups.create', [this.universe.slug, this.series.slug, this.season.year])" class="btn btn-secondary">Add lineup</a>

			<LineupOverviewComponent :season="this.season" :teams="this.teams" :can-edit="this.canEdit"></LineupOverviewComponent>
        </div>

        <div id="settings" v-if="isActive('settings')">
            <h2>Settings</h2>

            <table class="table">
                <thead>
                <tr>
                    <th>Setting</th>
                    <th>Configured</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(setting, key) in this.settings" v-bind:key="setting.name">
                    <td>{{ setting.name }}</td>
                    <td>{{ settingConfigured(key) }}</td>
                    <td>
                        <a v-if="canEdit && !season.started" :href="route(setting.route, [universe.slug, series.slug, season.year])">
                            Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import LineupOverviewComponent from "./includes/LineupOverviewComponent";

export default {
    props: ['season', 'tab', 'canEdit'],
	components: {
    	LineupOverviewComponent
	},
    data() {
        return {
            series: this.season.series,
            universe: this.season.series.universe,
            activeItem: this.tab,
            races: this.season.races,
            canEditCalendar: !this.season.started && !this.season.completed,
            settings: {
                points: {
                    name: 'Points',
                    route: 'seasons.points',
                    configured: this.season.points !== null
                },
                reliability: {
                    name: 'Reliability',
                    route: 'seasons.reliability',
                    configured: this.season.reliability !== null
                },
				qualifying: {
                	name: 'Qualifying',
					route: 'seasons.qualifying',
					configured: this.season.qualifying !== null
				}
            },
			teams: []
        }
    },
    methods: {
        isActive(menuItem) {
            return this.activeItem === menuItem;
        },
        setActive(menuItem) {
            this.activeItem = menuItem;
        },
        deleteRace(event, index, race) {
            event.preventDefault();

            const url = this.getPostUrl(race);

            axios.request({
                url: url,
                method: 'DELETE',
                headers: {
                    'X-CSRF-TOKEN': this.$store.state.csrf
                }
            })
                .then(res => {
                    if (res.data.success) {
                        this.races.splice(index, 1);
                    }
                });
        },
        getPostUrl(race) {
            return this.route('races.delete', [
                this.universe.slug,
                this.series.slug,
                this.season.year,
                race.id
            ]);
        },
        settingConfigured(setting) {
            return this.settings[setting].configured ? 'Yes' : 'No';
        }
    },
	mounted() {
		if (!this.teams.length) {
			axios.get(this.route('lineups.get', [this.season.id]))
				.then(response => {
					this.teams = response.data;
				})
				.catch(error => {
					console.log(error);
				});
		}
	}
}
</script>
