<template>
    <form :action="getPostUrl()" method="POST">
        <input type="hidden" name="_token" :value="this.$store.state.csrf">
        <input type="hidden" name="_method" value="PATCH" v-if="this.series !== undefined">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" v-model="name" id="name" name="name" class="form-control" placeholder="Name" required v-on:keyup="makeSlug(name)">
        </div>

        <div class="form-group">
            <label for="slug">Slug</label>
            <input type="text" v-model="slug" id="slug" name="slug" class="form-control" placeholder="Slug" v-on:change="makeSlug(slug)" required>

            <div>
                <small v-if="this.duplicateSlug" class="color-danger">This slug is already in use</small>
            </div>
        </div>

        <button type="input" v-on:click="checkSubmit($event)" class="btn btn-secondary">Save</button>
    </form>
</template>

<script>
import slugify from 'slugify';

export default {
    props: ['universe', 'series'],
    data() {
        return {
            name: this.series !== undefined ? this.series.name : '',
            slug: this.series !== undefined ? this.series.slug : '',
            duplicateSlug: false,
            options: {
                lower: true,
                strict: true
            }
        }
    },
    mounted() {
        this.checkDuplicateSlugs();
    },
    methods: {
        getPostUrl() {
            if (this.series === undefined) {
                return this.route('series.store', [this.getUniverse().slug]);
            } else {
                return this.route('series.update', [this.getUniverse().slug, this.series.slug]);
            }
        },
        getUniverse() {
            return this.universe ? this.universe : this.series.universe;
        },
        makeSlug(source) {
            this.slug = slugify(source, this.options);

            this.checkDuplicateSlugs();
        },
        checkDuplicateSlugs: _.debounce(function () {
            const id = this.series !== undefined ? this.series.id : null;
            axios.post('/series/duplicate_slug', {
                slug: this.slug,
                series_id: id,
                universe_id: this.getUniverse().id
            })
                .then(res => this.duplicateSlug = res.data);
        }, 500),
        checkSubmit(event)  {
            if (this.duplicateSlug) {
                event.preventDefault();
                return;
            }
        }
    }
};
</script>
