<template>
    <div>
        <ul class="tab-menu">
            <li class="tab-menu-item"><a href="#seasons" @click.prevent="setActive('seasons')" :class="isActive('seasons') ? 'active' : ''">Seasons</a></li>
            <li class="tab-menu-item"><a href="#teams" @click.prevent="setActive('teams')" :class="isActive('teams') ? 'active' : ''">Teams</a></li>
            <li class="tab-menu-item"><a href="#engines" @click.prevent="setActive('engines')" :class="isActive('engines') ? 'active' : ''">Engines</a></li>
        </ul>

        <div id="seasons" v-if="isActive('seasons')">
            <h2>Seasons</h2>

            <div class="mb-3" v-if="this.canEdit">
                <a :href="route('seasons.create', [this.universe.slug, this.series.slug])" class="btn btn-secondary">Create season</a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Name</th>
                        <th>Started</th>
                        <th>Completed</th>
                        <th></th>
                        <th></th>
						<th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(season, index) in this.seasons" v-bind:key="season.year">
                        <td>{{ season.year }}</td>
                        <td>{{ season.name }}</td>
                        <td>{{ season.started ? 'Yes' : 'No' }}</td>
                        <td>{{ season.completed ? 'Yes' : 'No' }}</td>
                        <td>
                            <a v-if="canSee" :href="route('seasons.show', [universe.slug, series.slug, season.year])">
                                View
                            </a>
                        </td>
                        <td>
                            <a v-if="canEdit && !season.started" :href="route('seasons.edit', [universe.slug, series.slug, season.year])">
                                Edit
                            </a>
                        </td>
						<td>
							<a v-if="canEdit && !season.started" class="cursor-pointer" @click="startSeason(season.year, index)">
								Start
							</a>
						</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="teams" v-if="isActive('teams')">
            <h2>Teams</h2>
            <div class="mb-3" v-if="this.canEdit">
                <a :href="route('teams.create', [this.universe.slug, this.series.slug])" class="btn btn-secondary">Create team</a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Team</th>
                    <th>Team principal</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="team in this.series.teams" v-bind:key="team.id">
                    <td>{{ team.id }}</td>
                    <td class="team-card-wrapper">
                        <div class="team-card" :style="team.styleString">
                            {{ team.name }}
                        </div>
                    </td>
                    <td>{{ team.team_principal }}</td>
                    <td>
                        <a v-if="canEdit" :href="route('teams.edit', [universe.slug, series.slug, team.id])">
                            Edit
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="engines" v-if="isActive('engines')">
            <h2>Engines</h2>
            <div class="mb-3" v-if="this.canEdit">
                <a :href="route('engines.create', [this.universe.slug, this.series.slug])" class="btn btn-secondary">Create engine</a>
            </div>

            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="engine in this.series.engines" v-bind:key="engine.id">
                    <td>{{ engine.id }}</td>
                    <td>{{ engine.name }}</td>
                    <td><a v-if="canEdit" :href="route('engines.edit', [universe.slug, series.slug, engine.id])">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    props: ['series', 'canEdit', 'tab', 'canSee'],

    data() {
        return {
            universe: this.series.universe,
			seasons: this.series.seasons,
            activeItem: this.tab,
        }
    },

    methods: {
        isActive(menuItem) {
            return this.activeItem === menuItem;
        },
        setActive(menuItem) {
            this.activeItem = menuItem;
        },
		startSeason(season, index) {
        	const route = this.route('seasons.start', [this.universe.slug, this.series.slug, season]);

        	axios.request({
				url: route,
				method: 'POST',
				headers: {
					'X-CSRF-TOKEN': this.$store.state.csrf
				}
			})
				.then(res => {
					if (res.data.success) {
						this.seasons[index].started = true;
					}
				})
		}
    }
}
</script>
