<template>
    <form :action="getFormUrl()" method="POST">
        <input type="hidden" name="_token" :value="this.$store.state.csrf">
        <TeamSettingsComponent :team="this.team"></TeamSettingsComponent>

        <button type="submit" class="btn btn-secondary">Save</button>
    </form>
</template>

<script>
import TeamSettingsComponent from "./includes/TeamSettingsComponent";

export default {
    components: {
        TeamSettingsComponent
    },
    props: ['series', 'team'],
    data() {
        return {
            universe: this.series.universe,
        }
    },
    methods: {
        getFormUrl() {
            if (this.team) {
                return this.route('teams.update', [
                    this.universe.slug,
                    this.series.slug,
                    this.team.id
                ]);
            } else {
                return this.route('teams.store', [
                    this.universe.slug,
                    this.series.slug
                ]);
            }
        }
    },
    computed: {

    }
}
</script>
