<template>
  <form :action="this.formUrl" method="POST">
    <input type="hidden" name="_token" :value="this.$store.state.csrf">
    <input type="hidden" name="_method" value="PATCH" v-if="this.universe !== undefined">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" v-model="name" id="name" name="name" class="form-control" placeholder="Name" required v-on:keyup="makeSlug(name)">
    </div>

    <div class="form-group">
        <label for="slug">Slug</label>
        <input type="text" v-model="slug" id="slug" name="slug" class="form-control" placeholder="Slug" v-on:change="makeSlug(slug)" required>

        <div>
            <small v-if="this.duplicateSlug" class="color-danger">This slug is already in use</small>
        </div>
    </div>

    <div class="form-group">
        <label for="public">Public
            <input type="checkbox" id="public" name="public" v-model="public">
        </label>
        <small>Public means everyone can see all races etc, but can't make any changes</small>
    </div>

    <button type="input" v-on:click="checkSubmit($event)" class="btn btn-secondary">Save</button>
  </form>
</template>

<script>
import slugify from 'slugify';

export default {
    props: ['universe'],
    data() {
        return {
            name: this.universe !== undefined ? this.universe.name : '',
            slug: this.universe !== undefined ? this.universe.slug : '',
            public: this.universe !== undefined ? this.universe.public : false,
            formUrl: this.universe !== undefined ? this.route('universes.update', [this.universe.slug])
                : this.route('universes.store'),
            duplicateSlug: false,
            options: {
                lower: true,
                strict: true
            }
        }
    },
    mounted() {
        this.checkDuplicateSlugs();
    },
    methods: {
        makeSlug(source) {
            this.slug = slugify(source, this.options);

            this.checkDuplicateSlugs();
        },
        checkDuplicateSlugs: _.debounce(function () {
            const id = this.universe !== undefined ? this.universe.id : null;
            axios.post('/universes/duplicate_slug', {slug: this.slug, universe_id: id})
                .then(res => this.duplicateSlug = res.data);
        }, 500),
        checkSubmit(event)  {
            if (this.duplicateSlug) {
                event.preventDefault();
                return;
            }
        }
    }
};
</script>
