<template>
    <div>
        <ul class="tab-menu">
            <li class="tab-menu-item"><a href="#series" @click.prevent="setActive('series')" :class="isActive('series') ? 'active' : ''">Series</a></li>
            <li class="tab-menu-item"><a href="#drivers" @click.prevent="setActive('drivers')" :class="isActive('drivers') ? 'active' : ''">Drivers</a></li>
        </ul>

        <div id="series" v-if="isActive('series')">
            <h2>Series</h2>
            <div class="mb-3" v-if="this.canEdit">
                <a :href="route('series.create', this.universe.slug)" class="btn btn-secondary">Create series</a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="series in this.universe.series" v-bind:key="series.id">
                        <td>{{ series.id }}</td>
                        <td>{{ series.name }}</td>
                        <td><a :href="route('series.show', [universe.slug, series.slug])">View</a></td>
                        <td v-if="canEdit"><a :href="route('series.edit', [universe.slug, series.slug])">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="drivers" v-if="isActive('drivers')">
            <h2>Drivers</h2>
            <div class="mb-3" v-if="this.canEdit">
                <a :href="route('drivers.create', this.universe.slug)" class="btn btn-secondary">Create driver</a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Birthdate</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="driver in this.universe.drivers" v-bind:key="driver.id">
                        <td>{{ driver.id }}</td>
                        <td>{{ driver.first_name }}</td>
                        <td>{{ driver.last_name }}</td>
                        <td>{{ driver.formattedBirthdate }}</td>
                        <td><a v-if="canEdit" :href="route('drivers.edit', [universe.slug, driver.id])">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    props: ['universe', 'can-edit', 'tab'],
    data() {
        return {
            activeItem: this.tab
        }
    },
    methods: {
        isActive(menuItem) {
            return this.activeItem === menuItem;
        },
        setActive(menuItem) {
            this.activeItem = menuItem;
        }
    }
}
</script>
